<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PayPal Node App</title>
  </head>
  <body>
    <%data.forEach(item=>{%>
    <h1><%=item.name%></h1>
    <%if(!item.is_deleted){%>
    <img src="<%=item.main_img%>" alt="" />
    <h2><%=item.description%></h2>
    <%item.images.forEach(pro=>{%>
    <img style="height: 150px; width: 150px" src="<%=pro%>" alt="" />
    <%})%>
    <h3>items left : <%=item.quantity%></h3>
    <h3><%=item.price%>$</h3>
    <form action="/paypal/paypalpayment/<%=item.id%>" method="POST">
      <input
        type="image"
        src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif"
      />
      <input value="1" type="number" name="many" id="many" />
    </form>
    <%}%> <%})%>
  </body>
</html>
